/*定义某个或某类icon的位置、大小、颜色*/

.icon-back{color: white;position: absolute;left: 8px;}
.icon-right-arrow{position: absolute;right: 10px;font-size: 1.5em;}
/*lh3em一行居右的checkbox*/
.icon-check-right{position: absolute;right: 1em;top: 0.6em;}
.icon-smile{color: #ff9900;font-size: 3em;padding-top: 30px;}
.icon-edit{font-size: 1.5em;}
.icon-edit-td{width: 3em;}
.icon-edit-td{width: 3em;}
.icon-edit-td{width: 3em;}
.icon-edit-td{width: 3em;}
.icon-edit-td{width: 3em;}
.icon-edit-td{width: 3em;}
.icon-edit-td{width: 3em;}
.icon-edit-td{width: 3em;}
.icon-edit-td{width: 3em;}
.icon-edit-td{width: 3em;}
.icon-edit-td{width: 3em;}
.icon-edit-td{width: 3em;}
.icon-edit-td{width: 3em;}
.icon-edit-td{width: 3em;}